body {
    background-image: url(/img/assets/Piedra\,-papel-o-tijera_350x150.jpg);
}

.centro {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid black;
    border-radius: 2%;
    width: 550px;
    height: 800px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;

}

main {
    display: flex;
    justify-content: center;
    margin: 150px auto;
}

h2 {
    text-align: center;
    font-size: 30px;
}

form {
    font-size: 60px;
    display: flex;
    width: 480px;
    justify-content: space-around;
}

.radio {
    display: flex;
    justify-content: space-between;
}

button {
    width: 400px;
    padding: 10px;
    background-color:rgb(3, 101, 15);
    border-radius: 5px;
    border: 2px solid black;
    color: white;
    font-size: 20px;
    box-shadow: 10px 10px 10px 1px black;
    margin-top: -120px;
    margin-bottom: -50px;
}

.buttonReiniciar {
    background-color: rgba(189, 150, 7, 0.604);
    color: black;
    font-size: 18px;
    margin-bottom: -100px;
    margin-top: -140px;
}

#resultado p {
    margin-top: -50px;
    font-size: 2rem;
    height: auto;
}


#resultado1 {
    font-size: 1.8rem;
    font-weight: 600;
    height: 10px;
    margin-bottom: -80px;
    margin-top: -80px;
}

#resultado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#resultado img {
    border-radius: 10px;
    border: 5px solid grey;
}